
  

<div class="black-div div1">
    <!-- Div 1 content -->
</div>

<div class="black-div div2">
    DISCOVER OUR CUSTOMER FAVORITES
</div>
<div class="black-div div3">
    Save big on our top picks!
</div>
<div class="black-div div1">
    <!-- Div 1 content -->
</div>