<div class="background-container">
    <div class="Text-Container">
        <h2 class="heading">TRANSFORMING VISIONS INTO <br /> SEAMLESS <span class="yellow-text">SOFTWARE SOLUTIONS</span><span class="subheading"> <br />LET'S BRING YOUR IDEAS TO LIFE TOGETHER.</span></h2><br />
        <button class="custom-button">CONTACT NOW</button>
    </div>
</div>


