<style>
    .black2-div {
        background-color: black;
        width: 100%;
        display: flex; /* Use flexbox to align items horizontally */
        justify-content: center; /* Center the items horizontally */
    }

        .black2-div img {
            max-width: 600px; /* Set the maximum width of the image */
            height: 300px; /* Maintain the aspect ratio */
            margin: 0 70px; /* Add more margin between the images */
            margin-bottom:10px
        }
        .image1{
            width:400px;
        }
</style>

<div class="black2-div">
    <div>
        <img class="image1" src="Images/blazorSave.png" alt="Image 1">
        <img src="Images/flutter.jpg" alt="Image 2">
    </div>
</div>
