

@page "/nav"
<style>
    body {
        margin: 0;
        padding: 0;
    }

    .not-navbar {
        background-color: #bf4d01;
        height: 30px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
        padding: 0 20px;
    }

    .not-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .not-image {
        max-height: 50%;
        max-width: 100%;
        vertical-align: middle;
        margin: auto;
    }
</style>

<div class="not-navbar">
    <div class="not-content">
        <img src="Images/signatureThree.png" alt="Your Image" class="not-image" />
    </div>
</div>

